@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media only screen and (min-width: 60em) {
    html { 
        font-size: 110%;
    }
}

@media only screen and (min-width: 90em) {
    html { 
        font-size: 120%;
    }
}
@media only screen and (min-width: 120em) {
    html { 
        font-size: 130%;
    }
}
 .stars {
    background-image: url(../img/stars.svg);
    background-color: black;
    height: 100vh;
    overflow: hidden;
    -webkit-animation: scale 1s linear infinite alternate;
    animation: scale 1s linear infinite alternate;
}
@-webkit-keyframes scale {
    
0% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}
100% {
    -webkit-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
}}
@keyframes scale {
    
0% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}
100% {
    -webkit-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
}}

.blaster {
    position: absolute;
    left: 40em;
    top:30em;
    -webkit-animation: bounce 10s infinite alternate;
    animation: bounce 10s infinite alternate;
}
@-webkit-keyframes bounce {
 0% {
     -webkit-transform: translateY(40px);
     -webkit-transform: translateX(30px);
     transform: translateY(40px);
     transform: translateX(30px);
}
50% {
    -webkit-transform: translateY(60px);
    -webkit-tranform: translateX(300px);
    transform: translateY(60px);
    tranform: translateX(300px);
}
65% {
    -webkit-transform: translateY(200px);
    -webkit-tranform: translateX(400px);
    transform: translateY(200px);
    tranform: translateX(400px);
}
75% { 
    -webkit-transform: translateY(300px);
    -webkit-transfrom: translateX(100px);
    transform: translateY(300px);
    transfrom: translateX(100px);
}
85.24% {
    -webkit-transform: translateY(200px);
    -webkit-transfrom: translateX(150px);
    transform: translateY(200px);
    transfrom: translateX(150px);
}
93% {
    -webkit-transfrom: translateY(250px);
    -webkit-transfrom: translateX(250px);
    transfrom: translateY(250px);
    transfrom: translateX(250px);

}
97%{
    -webkit-transfrom: translateY(30px);
    -webkit-transfrom: translateX(450px);
    transfrom: translateY(30px);
    transfrom: translateX(450px);

}
100%{
    -webkit-transfrom: translateY(200px);
    -webkit-transfrom: translateX(250px);
    transfrom: translateY(200px);
    transfrom: translateX(250px);
}
}
@keyframes bounce {
 0% {
     transform: translate(40px, 30px);
}
50% {
    transform: translate(60px, 300px);
}
65% {
    transform: translate(200px, 400px);
}
75% { 
    transform: translate(300px, 100px);
}
85.24% {
    transform: translate(200px, 150px);
}
93% {
    transform: translate(250px, 250px);
}
97%{
    transform: translate(30px, 450px);
}
100%{
    transform: translate(200px, 250px);
}
}
.asteroid {
     position: absolute;
    left: 10em;
    top:10em;
    -webkit-animation: box-rotate 4s ease-in-out infinite alternate;
    animation: box-rotate 4s ease-in-out infinite alternate;
}
@-webkit-keyframes box-rotate {
    0% {
     tranform: rotate(0deg);   
    }
    100% {
        transform:  rotate(360deg);
    }
}
@keyframes box-rotate {
    0% {
     tranform: rotate(0deg);   
    }
    100% {
        transform:  rotate(360deg);
    }
}
.bullet {
    position: relative;
    top: -11.5em;
    animation: blaster 3s linear forwards;
}
@keyframes blaster {

0% {
    opacity: 0;
    transform: translate(0px, 0px);
}
19.8% {
    opacity: 0;
    transform: translate(0px, 0px);
}
20% {
    opacity: 1;
    transform: translate(250px, 200px);
}
    
100%{
    transform: translate(450px, 200px);
}
}
