@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media only screen and (min-width: 60em) {
    html { 
        font-size: 110%;
    }
}

@media only screen and (min-width: 90em) {
    html { 
        font-size: 120%;
    }
}
@media only screen and (min-width: 120em) {
    html { 
        font-size: 130%;
    }
}
 .stars {
    background-image: url(../img/stars.svg);
    background-color: black;
    height: 100vh;
    overflow: hidden;
    -webkit-animation: scale 30s linear infinite alternate;
    animation: scale 30s linear infinite alternate;
}
@-webkit-keyframes scale {
    
0% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}
100% {
    -webkit-transform: scale(1.02,1.2);
    transform: scale(1.02,1.02);
}}
@keyframes scale {
    
0% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}
100% {
    -webkit-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
}}

.blaster {
    position: absolute;
    left: 40em;
    top:10em;
    -webkit-animation: bounce 10s infinite alternate;
    animation: bounce 10s infinite alternate;
}
@-webkit-keyframes bounce {
 0% {
     -webkit-transform: translate(5px, 5px);
     transform: translate(5px, 5px);
}
50% {
    -webkit-transform: translate(20px, 30px);
    transform: translate(20px, 30px);
}
65% {
    -webkit-transform: translate(10px, 20px);
    transform: translat(10px, 20px);
}
75% { 
    -webkit-transform: translate(30px, 10px);
    transform: translate(30px, 10px);
}
97%{
    -webkit-transfrom: translate(50px, 50px);
    transfrom: translate(50px, 50px);
}
100%{
    -webkit-transfrom: translate(20px, 25px);
    transfrom: translate(20px, 25px);
}
}
@keyframes bounce {
 0% {
     transform: translate(5px, 5px);
}
50% {
    transform: translate(20px, 30px);
}
65% {
    transform: translate(10px, 20px);
}
75% { 
    transform: translate(30px, 10px);
}

97%{
    transfrom: translate(50px, 50px);
}
100%{
    transform: translate(20px, 25px);
}
}
.asteroid {
     position: absolute;
    left: 10em;
    top:10em;
    -webkit-animation: box-rotate 4s ease-in-out infinite alternate;
    animation: box-rotate 4s ease-in-out infinite alternate;
}
@-webkit-keyframes box-rotate {
    0% {
     tranform: rotate(0deg);   
    }
    100% {
        transform:  rotate(360deg);
    }
}
@keyframes box-rotate {
    0% {
     tranform: rotate(0deg);   
    }
    100% {
        transform:  rotate(360deg);
    }
}
.bullet {
    position: relative;
    top: -11.5em;
    animation: blaster 2s linear infinite forwards;
}
@keyframes blaster {

0% {
    opacity: 0;
    transform: translate(0px, 0px);
}
19.8% {
    opacity: 0;
    transform: translate(0px, 0px);
}
20% {
    opacity: 1;
    transform: translate(-250px, 0px);
}
    
100%{
    transform: translate(-450px, 0px);
}
}
